body {
    background: url("../images/background-12.jpg") no-repeat fixed center center;
    background-size: cover;
}

.main-content {
    color: #FFA500;
    position: fixed;
    top: 50%;
    left: 57%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.main-content .heading {
    margin-bottom: 10px;
}

.main-content .sub-heading {
    margin-bottom: 5px;
}

@media (min-width: 300px) {
    .main-content .sub-heading {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {
    .main-content .sub-heading {
        font-size: 2rem;
    }
}